* {
  box-sizing: border-box;
}

::selection {
  color: none;
  background: none;
}

html {
  font-family: 'Jost', sans-serif;
  cursor: default;
  /* background-color: rgb(187, 225, 245); */
  overflow: hidden;
}

.fa-hourglass-end{
  position: fixed;
  transform: scale(1.7);
  padding: 6px 8px;
  background-color: rgb(241, 241, 241);
  border-radius: 20%;
  border: 3px solid grey;
  left: 85%;
  top:5%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) ;
}

.fa-hourglass-end:hover{
animation: rotating 0.4s ease-in-out;
}

.fa-hourglass-end.inactive{
pointer-events: none;
}

.fa-yin-yang{
  position: fixed;
  transform: scale(1.7);
  padding: 6px 6px;
  background-color: rgb(241, 241, 241);
  border-radius: 20%;
  border: 3px solid grey;
  left: 85%;
  top:14%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) ;
}

.fa-yin-yang.inactive{
  pointer-events: none;
  }

@keyframes rotating {
from {
  transform: rotate(0deg) scale(1.7);
}
to {
  transform: rotate(180deg) scale(1.7);
}
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.startingTime{
display: none;
}

.startingTime.visible{
display: block;
position: fixed;
text-align: center;
min-width: -webkit-fill-available;
padding: 30px;
top: 52%;
left: 50%;
transform: translate(-50%,-50%);
background-color: rgb(241, 241, 241);
border: 2px solid black;
border-radius: 5%;
z-index: 1;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
font-size: larger;
font-weight: bold;
text-align: center;
overflow: hidden;
animation: fadeIn 0.2s ease-in-out
}

#setTime{
width: 30vw;
height: 5vw;
position: relative;
padding: 20px;
margin: 20px;
text-align: center;
font-size: larger;
font-weight: bold;
}

.BG{
  z-index: -1;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top,
  #23c9ff, #3fc9ff, #51c8ff, #60c7ff,
   #6dc7ff, #7cc8ff, #89c8ff,
    #95c9ff, #a5ccff, #b4cfff, #c0d2ff, #ccd5ff);
}

.title {
  background-color: navy;
  color: whitesmoke;
  text-align: center;
  width: 50vw;
  left: 25vw;
  position: fixed;
  font-size: 12px;
}

.dot {
  height: 13vw;
  width: 13vw;
  background-color: blueviolet;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* border: 1px solid rgb(235, 235, 235); */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) ;
  transition: 0.3s;
  z-index: 1;
}

.outer{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70vw;
  height: 70vw;
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0);
}

.outer.move{
  animation-name: jiggle;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.inner{
background-color: rgb(235, 235, 235);
border: 1px solid grey;
text-align: center;
padding: 5vw;
pointer-events: auto;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.7px);
-webkit-backdrop-filter: blur(0.7px);
border: 3px solid rgba(0, 0, 0, 0.01);
}

.inner.inactive{
pointer-events: none;
}

.inner:hover{
transition: 0.2s;
opacity: 0.8;
}

.inner:active {
  transition: 0.1s;
  opacity: 1;
}

.score{
  padding-top: 20px;
  font-size: 35px;
  font-weight: bold;
  position: fixed;
  top: 79%;
  left: 40%;
  transform: translate(-50%,-50%);
}

.score_value{
  padding-top: 20px;
  font-size: 35px;
  font-weight: bold;
  position: fixed;
  top: 79%;
  left: 67%;
  transform: translate(-50%,-50%);
}

.points5{
display: none;
}

.points5.visible{
  display: block;
  color: rgb(95, 214, 95);
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6) ;
  padding-top: 20px;
  font-size: 35px;
  position: fixed;
  top: 90%;
  left: 42%;
  animation-name: slideUp;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.points-5{
display: none;
}

.points-5.visible{
  display: block;
  color: rgb(164, 10, 10);
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6) ;
  padding-top: 20px;
  font-size: 35px;
  position: fixed;
  top: 90%;
  left: 45%;
  animation-name: slideUp;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.time-10{
display: none;
}

.time-10.visible{
    display: block;
    color: rgb(164, 10, 10);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6) ;
    padding-top: 20px;
    font-size: 35px;
    position: fixed;
    left: 43%;
    animation-name: slideUpMinus10;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

.gameOver{
  display: none;
}

.gameOver.visible{
  font-size: larger;
  display: block;
  position: fixed;
  text-align: center;
  justify-content: center;
  min-width: -webkit-fill-available;
  padding: 20px;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(241, 241, 241);
  border-radius: 5%;
  border: 2px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 25%;
}

.startGame.visible{
animation-name: modelSlideUp;
animation-duration: 1.2s;
animation-timing-function: ease-in-out;
}

.startGame{
display: block;
position: fixed;
text-align: center;
max-width: 35%;
padding: 25px;
top: 52%;
left: 50%;
transform: translate(-50%,-50%);
background-color: rgb(241, 241, 241);
border: 2px solid black;
border-radius: 5%;
z-index: 1;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
font-weight: bold;
font-size: larger;
font-family: 'Jost', sans-serif;
}

.startGame:hover {
transition: 0.3s;
background-color: rgb(224, 224, 224);

}

.startGame:active {
  transition: 0.1s;
  opacity: 1;
}

#gameOverScore {
  font-weight: bold;
}

#restart{
  font-family: 'Jost', sans-serif;
  font-weight: bold;
}

@keyframes slideUp {
  from {
      top: 68vh;
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  to {
      top: 65vh;
      opacity: 0;
  }
}

@keyframes jiggle {
  0% {
      left: 48%;
  }

  25% {
      left: 52%;
  }

  50% {
      left: 49%;
  }

  75%{
    left: 51%;
  }
  100%{
    left: 50%;
  }
}

@keyframes slideUpMinus10 {
  from {
      top: 14vh;
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  to {
      top: 10vh;
      opacity: 0;
  }
}

@keyframes modelSlideUp {
from {
    opacity: 1;
}

to {
    top: -100%;
    opacity: 0;
    display: none;
}
}

.base-timer {
  position: fixed;
  top: 90px;
  left: 15px;
  width: 120px;
  height: 120px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

div.clickEffect{
  position:fixed;
  box-sizing:border-box;
  border-style:solid;
  border-color:#FFFFFF;
  border-radius:50%;
  animation:clickEffect 0.3s ease-out;
  z-index:99999;
  }

  @keyframes clickEffect{
      
  0%{
  opacity:1;
  width:0.5em; height:0.5em;
  margin:-0.25em;
  border-width:0.5em;
  }

  100%{
  opacity:0.2;
  width:5em; height:5em;
  margin:-2.5em;
  border-width:0.03em;
  }

  }

  .fa-heart{
    display: none;
    color: crimson;
    scale: 2.5;
    position: relative;
    margin: 15px;
    top: 100vh;
    left: 26%;
  }

  /* .fa-heart.pop{
    animation-name: popUpHearts;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .fa-heart.away{
    animation-name: hideHearts;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  } */

  @keyframes popUpHearts{
      
    0%{

      top: 100vh;
    }

    50%{
      top: 83vh;

    }

    75%{
      top: 86vh;
    }
  
    100%{
      top: 85vh;
    }
  }

  @keyframes hideHearts{
      
    0%{

      top: 85vh;
    }

    30%{
      top: 86vh;

    }

    50%{
      top: 83vh;
    }
  
    100%{
      top: 105vh;
    }
  } 