* {
  box-sizing: border-box;
}

::selection {
  color: none;
  background: none;
}

html {
  font-family: 'Jost', sans-serif;
  cursor: default;
  /* background-color: rgb(187, 225, 245); */
  overflow: hidden;
}

.fa-hourglass-end{
  position: fixed;
  transform: scale(1.4);
  padding: 6px 8px;
  background-color: rgb(241, 241, 241);
  border-radius: 20%;
  border: 3px solid grey;
  left: 85%;
  top:3%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) ;
  transition: 0.2s;
}

.fa-hourglass-end.on{
  transition: 0.2s;
  background-color: darkmagenta;
  color: white;
  }

.fa-hourglass-end.inactive{
pointer-events: none;
}

.fa-yin-yang{
  position: fixed;
  transform: scale(1.4);
  padding: 6px 6px;
  background-color: rgb(241, 241, 241);
  border-radius: 20%;
  border: 3px solid grey;
  left: 85%;
  top:11%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) ;
  transition: 0.2s;
}

.fa-yin-yang.inactive{
  pointer-events: none;
  }

.fa-yin-yang.on{
  transition: 0.2s;
  background-color: rgb(205, 134, 3);
  color: white;
  }

.fa-circle-up{
  position: fixed;
  transform: scale(1.4);
  padding: 6px 6px;
  background-color: rgb(241, 241, 241);
  border-radius: 20%;
  border: 3px solid grey;
  left: 85%;
  top:19%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) ;
  transition: 0.2s;
}

.fa-circle-up.on{
transition: 0.2s;
background-color: navy;
color: white;
}

.fa-circle-up.inactive{
  pointer-events: none;
}

.fa-face-dizzy{
  position: fixed;
  transform: scale(1.4);
  padding: 6px 6px;
  background-color: rgb(241, 241, 241);
  border-radius: 20%;
  border: 3px solid grey;
  left: 85%;
  top:27%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) ;
  transition: 0.2s;
}

.fa-face-dizzy.on{
  transition: 0.2s;
  background-color: firebrick;
  color: white;
  }

.fa-face-dizzy.inactive{
  pointer-events: none;
}

@keyframes rotating {
from {
  transform: rotate(0deg) scale(1.7);
}
to {
  transform: rotate(180deg) scale(1.7);
}
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.startingTime{
display: none;
}

.startingTime.visible{
display: block;
position: fixed;
text-align: center;
min-width: -webkit-fill-available;
padding: 30px;
top: 52%;
left: 50%;
transform: translate(-50%,-50%);
background-color: rgb(241, 241, 241);
border: 2px solid black;
border-radius: 5%;
z-index: 1;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
font-size: larger;
font-weight: bold;
text-align: center;
overflow: hidden;
animation: fadeIn 0.2s ease-in-out
}

#setTime{
width: 30vw;
height: 5vw;
position: relative;
padding: 20px;
margin: 20px;
text-align: center;
font-size: larger;
font-weight: bold;
}

.BG{
  z-index: -1;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top,
  #23c9ff, #3fc9ff, #51c8ff, #60c7ff,
   #6dc7ff, #7cc8ff, #89c8ff,
    #95c9ff, #a5ccff, #b4cfff, #c0d2ff, #ccd5ff);
}

.title {
  background-color: navy;
  color: whitesmoke;
  text-align: center;
  width: 50vw;
  left: 25vw;
  position: fixed;
  font-size: 12px;
}

.dot {
  height: 13vw;
  width: 13vw;
  background-color: blueviolet;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) ;
  transition: 0.3s;
}

.level{
  font-weight: bold;
  position: fixed;
  top: 13%;
  left: 35%;
  font-size: 20px;
  opacity: 0;
  transition: 0.3s;
}

.level_value{
  font-weight: bold;
  position: fixed;
  width: 50px;
  top: 13%;
  left: 56%;
  font-size: 20px;
  text-align: left;
  transition: 0.3s;
  opacity: 0;
}

.level_value.levelUp{
  top: 13%;
  left: 56%;
  transition: 0.3s;
  color: rgb(235, 223, 55);
}

.level.on{
  opacity: 1;
  transition: 0.3s;
}

.level_value.on{
  opacity: 1;
  transition: 0.3s;
}

.outer{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70vw;
  height: 70vw;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0);
}

.outer.move{
  animation-name: jiggle;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.inner{
background-color: rgb(235, 235, 235);
border: 1px solid grey;
text-align: center;
padding: 5vw;
pointer-events: auto;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.7px);
-webkit-backdrop-filter: blur(0.7px);
border: 3px solid rgba(0, 0, 0, 0.01);
}

.inner.inactive{
pointer-events: none;
}

/* .inner:hover{
transition: 0.2s;
opacity: 0.8;
} */

.inner:active {
  transition: 0.1s;
  opacity: 1;
  animation: pushed 0.3s ease-out;
}

.score{
  padding-top: 20px;
  font-size: 35px;
  font-weight: bold;
  position: fixed;
  top: 81%;
  left: 34%;
  transform: translate(-50%,-50%);
}

.score_value{
  padding-top: 20px;
  font-size: 35px;
  font-weight: bold;
  position: fixed;
  top: 81%;
  left: 73%;
  transform: translate(-50%,-50%);
}

.points5,
.points10{
display: none;
}

.points5.visible,
.points10.visible{
  display: block;
  color: rgb(95, 214, 95);
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6) ;
  padding-top: 20px;
  font-size: 35px;
  position: fixed;
  top: 90%;
  left: 42%;
  animation-name: slideUp;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.points-5{
display: none;
}

.points-5.visible{
  display: block;
  color: rgb(164, 10, 10);
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6) ;
  padding-top: 20px;
  font-size: 35px;
  position: fixed;
  top: 90%;
  left: 45%;
  animation-name: slideUp;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.time-10{
display: none;
}

.time-10.visible{
    display: block;
    color: rgb(164, 10, 10);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6) ;
    padding-top: 20px;
    font-size: 32px;
    position: fixed;
    left: 14%;
    animation-name: slideUpMinus10;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

.gameOver{
  display: none;
}

.gameOver.visible{
  font-size: larger;
  display: block;
  position: fixed;
  text-align: center;
  justify-content: center;
  min-width: -webkit-fill-available;
  padding: 20px;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(241, 241, 241);
  border-radius: 5%;
  border: 2px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 25%;
}

.startGame.visible{
animation-name: modelSlideUp;
animation-duration: 1.2s;
animation-timing-function: ease-in-out;
z-index: 1;
}

.startGame{
display: block;
position: fixed;
text-align: center;
max-width: 35%;
padding: 25px;
top: 52%;
left: 50%;
transform: translate(-50%,-50%);
background-color: rgb(241, 241, 241);
border: 2px solid black;
border-radius: 5%;
z-index: 1;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
font-weight: bold;
font-size: larger;
font-family: 'Jost', sans-serif;
}

.startGame:hover {
transition: 0.3s;
background-color: rgb(224, 224, 224);

}

.startGame:active {
  transition: 0.1s;
  opacity: 1;
}

#gameOverScore {
  font-weight: bold;
}

#restart{
  font-family: 'Jost', sans-serif;
  font-weight: bold;
}

@keyframes slideUp {
  from {
      top: 64vh;
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  to {
      top: 61vh;
      opacity: 0;
  }
}

@keyframes jiggle {
  0% {
      left: 48%;
  }

  25% {
      left: 52%;
  }

  50% {
      left: 49%;
  }

  75%{
    left: 51%;
  }
  100%{
    left: 50%;
  }
}

@keyframes slideUpMinus10 {
  from {
      top: 10vh;
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  to {
      top: 6vh;
      opacity: 0;
  }
}

@keyframes modelSlideUp {
from {
    opacity: 1;
}

to {
    top: -100%;
    opacity: 0;
    display: none;
}
}

@keyframes pushed {
from {
    scale: 0.9;
}

to {
    scale: 1;
}

}

.base-timer {
  position: fixed;
  top: 90px;
  left: 10px;
  width: 110px;
  height: 110px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

div.clickEffect{
  position:fixed;
  box-sizing:border-box;
  border-style:solid;
  border-color:#FFFFFF;
  border-radius:50%;
  animation:clickEffect 0.3s ease-out;
  z-index:99999;
  }

  @keyframes clickEffect{
      
  0%{
  opacity:1;
  width:0.5em; height:0.5em;
  margin:-0.25em;
  border-width:0.5em;
  }

  100%{
  opacity:0.2;
  width:5em; height:5em;
  margin:-2.5em;
  border-width:0.03em;
  }

  }

  .fa-heart{
    display: none;
    color: crimson;
    scale: 2.5;
    position: relative;
    margin: 15px;
    top: 100vh;
    left: 26%;
  }

  @keyframes popUpHearts{
      
    0%{

      top: 100vh;
    }

    50%{
      top: 83vh;

    }

    75%{
      top: 86vh;
    }
  
    100%{
      top: 85vh;
    }
  }

  @keyframes hideHearts{
      
    0%{

      top: 85vh;
    }

    30%{
      top: 86vh;

    }

    50%{
      top: 83vh;
    }
  
    100%{
      top: 105vh;
    }
  } 

  @media (min-width:800px) {
    .outer{
      width: 40vw;
      height: 40vw;
    }
    .dot{
      width: 6vw;
      height: 6vw;
      top: 18vh;
    }

    .score{
      top: 85%;
      left: 45%;
    }

    .score_value{
      top: 85%;
      left: 72%;
      width: 300px;
      text-align: left;
      margin-left: 10px;
    }

    .base-timer {
      top: 90px;
      left: 6vw;
      width: 160px;
      height: 160px;
    }

    .base-timer__label{
      width: 160px;
      height: 160px;
      top: 0;
      font-size: 35px;
    }

    .gameOver.visible{
      
      padding: 20px;
      width: 10%;
    }

    .fa-heart{
      left: 42%;
    }

    .time-10.visible{
        left: 12.5%;
        animation-name: slideUpMinus10;
        animation-duration: 0.7s;
        animation-timing-function: ease-in-out;
        opacity: 0;
    }

    .points5.visible,
    .points10.visible{
      left: 29%;
    }
    
    .points-5.visible{
      left: 30%;
    }

    @keyframes slideUp {
    from {
        top: 80vh;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        top: 78vh;
        opacity: 0;
    }
  }

  .level{
    font-weight: bold;
    position: fixed;
    top: 35%;
    left: 8%;
    font-size: 25px;
    opacity: 0;
    transition: 0.3s;
  }
  
  .level_value{
    top: 35%;
    left: 19%;
    transition: 0.3s;
    font-size: 25px;
    opacity: 0;
  }

  /* .level.on{
    opacity: 1;
    transition: 0.3s;
  }

  .level_value.on{
    opacity: 1;
    transition: 0.3s;
  } */

  .level_value.levelUp{
    top: 35%;
    left: 19%;
    transition: 0.3s;
    color: rgb(235, 223, 55);
  }

  .fa-hourglass-end{
    scale: 1.2;
    left: 85%;
    top:5%;
  }
/*   
  .fa-hourglass-end:hover{
  animation: rotating 0.4s ease-in-out;
  } */
  
  .fa-hourglass-end.inactive{
  pointer-events: none;
  }
  
  .fa-yin-yang{
    scale: 1.2;
    left: 85%;
    top:14%;
  }

  .fa-hourglass-end.on{
    transition: 0.2s;
    background-color: darkmagenta;
    color: white;
    }
  
  .fa-yin-yang.inactive{
    pointer-events: none;
    }

  .fa-yin-yang.on{
    transition: 0.2s;
    background-color: rgb(205, 134, 3);
    color: white;
    }
  
  .fa-circle-up{
    scale: 1.2;
    left: 85%;
    top:23%;
  }
  
  .fa-circle-up.on{
  transition: 0.2s;
  background-color: navy;
  color: white;
  }
  
  .fa-circle-up.inactive{
    pointer-events: none;
  }
  
  .fa-face-dizzy{
    scale: 1.2;
    left: 85%;
    top:32%;
  }
  
  .fa-face-dizzy.on{
    transition: 0.2s;
    background-color: firebrick;
    color: white;
    }
  
  .fa-face-dizzy.inactive{
    pointer-events: none;
  }
  
  @keyframes rotating {
  from {
    transform: rotate(0deg) scale(1.7);
  }
  to {
    transform: rotate(180deg) scale(1.7);
  }
  }

  }